<div id="facebook-connection">
  <% if identity.persisted? %>
  	Status: Connected

    <div class="padding-sm">
      <%= link_to "Disconnect from Facebook", app_settings_connections_facebook_path, method: :delete, remote: true, class: 'btn btn-lg btn-primary' %>
    </div>
  <% else %>
    Status: Not Connected

    <div class="padding-sm">
      <%= link_to "Connect to Facebook", app_settings_connections_facebook_path, class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
</div>
