<p>
  Before you publish your app we need to check to make sure you've completed all of the steps necessary.
</p>
<%= link_to 'Check my app status', publish_step_one_path,
    method: :post, remote: true, class: "btn btn-primary" %>