<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You can view your app in the AppEase Previews app. Just select the from the links below (on your phone) and you can download our app. Once you have it, select Preview My App from the left nav, enter your email address, and then your app will be previewed for your approval. Note that you may need to quit and restart the app to see color changes.
    </p>
    <p>
      Apple iTunes: showURL
    </p>
    <p>
      Google Play: showURL
    </p>
    <p>
      Contact us at <%= mail_to 'service@getappease.com' %> if you need help.
    </p>
  </body>
</html>