<ul>User details:
  <li>email: <%= @user.email %></li>
  <li>full name: <%= @user.full_name %></li>
  <li>company name: <%= @user.company_name %></li>
  <li>package: <%= @user.current_package %></li>
</ul>