<%= simple_form_for :push_notification, url: app_marketing_one_time_push_path, method: :post, remote: true, html: {id: "one-time-push-form"} do |f| %>
  <% if @error.present? %>
   <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= @error %>
    </div>
  <% end %>

  <%= f.input :message, placeholder: "Message" %>
  <%= f.button :submit, "Send notification" %>
<% end %>