<p>
  Your account is set up and we are ready to take over from here!
</p>
<p>
  AppEase provides full service app setup free of charge.  Our next step is to assign an App Specialist to review your account and finalize all of the pieces needed to prepare an app for you to preview prior to publishing in the app stores.
</p>
<p>
  You'll hear from your App Specialist within one business day with a link to download, review, and approve your app.
</p>

<%= link_to 'Got It - Take Me To App Status', new_user_wizard_step_four_path, method: :post, remote: true, class: 'btn btn-success' %>