<% if @resource.took_ownership? %>

  <p>Hello <%= @resource.full_name %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

<% else %>

  <p>Hello again!</p>

  <p>We're a new company that's working hard to make small businesses like you as successful on mobile devices as you are on the web. How can we help you get there? Did you check out the <a href="<%= v1_instant_download_page_url(bundle_suffix: @resource.application_info.app_id_suffix) %>">awesome app</a> we made for you?</p>

  <p>In just a short time Facebook has seen its revenue go from 0% on mobile to 68% in the most recent quarter. Get ready for a similar shift in your business.  Customers are on their phones more than computers, and with your own app you can claim a spot on your biggest fan's phones and drive more business back to your store. </p>

  <p>Take the next step by <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>">finalizing your AppEase account</a>.  Just create a password and tell us a little more about you and we'll reach out with a specialist who will supply a free full service setup to get your app in the app stores ASAP!</p>

  <p>Please let me know if I can help answer any other questions.</p>

  <p>Cheers,<br/>Patty</p>

<% end %>
