<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
  <%= render partial: 'layouts/head' %>
</head>
<body class="theme-clean main-menu-animated<%= content_class(:body_class) %>">
  <script>
    window.onload = function () {
      window.print();
    };
  </script>
  <%= yield %>
</body>
</html>
